.first-color { 
	background: #cefff1; 
}
	
.second-color { 
	background: #ace7ef; 
}

.third-color { 
	background: #a6acec; 
}

.fourth-color { 
	background: #a56cc1; 
}
.pri{
	background: #9fe292;
}
.carol-img{
	height: 650px; width: 100%; background-size: cover;
}
.nav-col{
	background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.accordion-button:not(.collapsed) {
    color: black!important;
    background-color: #9fe292!important;
	box-shadow: none!important;
}
.nav-item:hover{
	background-color: #63b292;
}

.accordion-button:focus {
	box-shadow: none!important;
}

.accordion, .yt-channel, .card-style{
	border-radius: 20px!important;
	box-shadow: 10px 10px 10px #9fe292;
}

.prof-img{
	box-shadow: 10px 10px #acec92;
	border-radius: 20px;
	width: 13rem;
}
.img-prop{
	position: relative;
	height: 250px !important;
	width: 200px !important;
	
}

.contain{
	overflow: hidden;
	height: 200px !important;
	width: 200px !important;
	background-image: cover;
}

@media only screen and (max-width: 768px) {
	.carol-img{
		height: 286px!important;
		object-fit: cover!important;
	}
	.carousel-caption{
		font-size: 12px !important;
	}
  }

@media only screen and (max-width: 430px) {
	.yt-channel{
		height: 256px!important;
		width: 100%!important;
	}
	.carousel-caption{
		font-size: 10px !important;
	}
}

@media only screen and (max-width: 320px) {
	.carol-img{
		height: 200px!important;
		object-fit: cover!important;
	}
	.carousel-caption{
		font-size: 7px !important;
	}
}